{%extends "base.html"%}
{%block content%}
<h1>PostgreSQL mailing lists</h1>
<p>
  <a class="btn btn-lg btn-primary" href="/manage/">Manage subscriptions</a>
  <a class="btn btn-lg btn-primary" href="/unsubscribe/">Unsubscribe</a>
  <br/><br/>
</p>
<p>
  From this site you can manage all your PostgreSQL mailing list
  subscriptions.  To manage them, click on the link above.
</p>
<b>Note 1:</b> Please ensure you read the <a href="https://www.postgresql.org/about/policies/archives/">Archive Policy</a>
before posting to the lists.</p>

<p><b>Note 2:</b> Please do not subscribe to mailing lists using e-mail
accounts protected by mail-back anti-spam systems. These are extremely annoying
to the list maintainers and other members, and you may be automatically unsubscribed.
</p>

<p>
  If you are not already logged into your PostgreSQL Community account,
  you will be redirected and asked to log in first.  Once you're logged
  in, you can see all of the lists which you are subscribed to with the
  email address associated with your community account.
</p>
<p>
  If you have other email addresses, at the link above you'll be able to
  go through a short process to verify you have control over those other
  email addresses and then you'll be able to see the lists subscribed
  using those addresses as well.
</p>
<p>
  If you are a moderator of PostgreSQL mailing lists, you'll have a link
  at the bottom of the page which says "Manage/Moderate lists".  If you
  believe you should have such a link and you do not, please contact the
  PostgreSQL WWW Mailing list.
</p>

<h2>Unsubscribe</h2>
<p>
  Do you need help to unsubscribe? Please follow the instructions on
  <a href="/unsubscribe/">this page</a>.
</p>

{%endblock%}
