{%extends "base.html"%}
{%block content%}
<h1>PostgreSQL mailing lists</h1>
{%if view.success%}
<h2>Email canceled</h2>
<p>
  Your message has been canceled.
</p>
{%else%}
<h2>Email not found</h2>
<p>
  The email you were trying to cancel has either been delivered already
  or deleted by a moderator.
</p>
{%endif%}
{%endblock%}
