div#pglisterhdr {
   padding-left: 0px;
   padding-right: 0px;
   background: url(/media/img/hdr_fill.png);
}

input.form-control[type=checkbox] {
width: 10px;
}

/* Handle multiple rows of radio inlines */
.radio-inline+.radio-inline {
    margin-left: 0;
}

/* Format checkboxes in forms */
form.form-horizontal div.form-group div.controls ul {
    list-style: none;
    padding: 0;
}
form.form-horizontal div.form-group div.controls ul li label input.form-control[type=checkbox] {
    display: inline;
    height: auto;
}
form.form-horizontal div.form-group div.controls ul.form-control {
    height: auto;
    border: 0;
}

/*
 * Have a radio button collapse it's next item, used to display an
 * input box when a specific radio button is selected.
 */

.radio-collapse-next ~ input {
    display: none;
}
.radio-collapse-next:checked ~ input {
    display: block;
}

/* div based tables */
div.ltable div.header div {
    font-weight: bold;
}

div.ltable div.row {
    border-top: 1px solid #ddd;
}


/* moderation pages */
div.col-msgid {
    overflow-x: scroll;
}

/* unsub instructions */
dl.unsubhelp dd {
    margin-left: 1em;
}

/* General utility classes */
.nobr {
    white-space:nowrap;
}
